body {
  font-family: $font_family_default;
  font-size: $font_size_default;
  font-weight: $font_weight_default;
  color: $color_default;
  line-height: $line_height_default;
  letter-spacing: $letter_spacing_default;
}

body.frozen {
  overflow: hidden;
}

#root {
  max-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: $duration;
  opacity: 1;
  visibility: visible;

  &[v-cloak] {
    opacity: 0;
    visibility: hidden;
  }
}

.container {
  max-width: $container_width + 40;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  flex: 1 1 auto;
}
